// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Remove default styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Set of variables
$background-light: #F2F4FF;
$main-gradient: linear-gradient(90deg, #4000A6 0%, #D800E6 100%);
$dark-blue:#002888;

// Components
.webinar-sign-up {
    width: fit-content;
    padding: 28px;
    background: $main-gradient;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .1s;
}

.webinar-sign-up:hover {
    transform: scale(1.01);
}

// Containers
main {
    width: 100%;
}

.content-container {
    width: 1440px;
    margin: 0 auto;
}

// Top section
.top-section {
    width: 100%;
    height: fit-content;
    background: url(../backgrounds/top-section-bg.svg);
    background-size: cover;
}

.top-section__content {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    column-gap: 92px;
    align-items: center;
    width: 700px;
    height: 100px;
    padding: 31px 0 24px 100px;
    background: url(../backgrounds/header-bg.svg);
}

.header__menu {
    display: flex;
    column-gap: 35px;
    height: fit-content;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;

    a {
        background: $main-gradient;
        text-decoration: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.webinar-info {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;

    .webinar-sign-up {
        margin-top: 70px;
    }
}

.webinar-info__venue-and-date {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;

    span {
        font-weight: 300;
        color: rgba(0, 40, 136, 0.8);
    }

    p {
        margin-top: 10px;
        color: $dark-blue;
    }
}

.webinar-info__slogan {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    width: 555px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: $dark-blue;
    text-transform: uppercase;

    p:nth-child(2) {
        margin-top: -5px;
        align-self: flex-end;
        padding: 11px 21px 12px 15px;
        transform: matrix(1, -0.06, 0.06, 1, 0, 0);
        background: url(../backgrounds/v2xrazi-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;

        img {
            user-select: none;
            -webkit-user-drag: none;
        }
    }

    p:nth-child(3) {
        margin-top: -8px;
        z-index: 2;
    }

    p:nth-child(4) {
        margin-top: 16px;
        width: fit-content;
        background: url(../backgrounds/video-shopping-bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 25px 41px 20px 18px;
    } 
}