// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Remove default styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// Set of variables
$background-light: #F2F4FF;
$main-gradient: linear-gradient(90deg, #4000A6 0%, #D800E6 100%);
$dark-blue:#002888;
$text-gray: #2F2F30;

// Components
.webinar-sign-up {
    width: fit-content;
    padding: 28px;
    background: $main-gradient;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .1s;
    z-index: 10;
}

.webinar-sign-up:hover {
    transform: scale(1.01);
}

.mobile-hamburger {
    display: none;
    width: 24px;
    height: 17px;
    background: url(../icons/hamburger-menu.svg);
    background-size: cover;
}

.site__menu_mobile {
    position: absolute;
    top: -100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    width: 100vw;
    height: 100vh;
    background: white;
    transition: .3s ease-out;
    z-index: 100;
}

.mobile-cross {
    width: 20px;
    height: 20px;
    background: url(../icons/menu-cross.svg);
    background-size: cover;
    align-self: flex-end;
}

// Containers
main {
    width: 100%;
    overflow: hidden;
}

.content-container {
    width: 1440px;
    margin: 0 auto;
}

// Top section
.top-section {
    width: 100%;
    height: 750px;
    background: url(../backgrounds/top-section-bg.svg);
    background-size: cover;
    overflow: hidden;
}

.top-section__content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-section__image {
    position: absolute;
    top: -40px;
    right: 629px;

    .top-section__image__placeholder {
        position: relative;

        img:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
        }

        img:nth-child(2) {
            position: absolute;
            top: 40px;
            left: 40px;
            animation: top-section-loop-1 8s linear infinite;
        }

        img:nth-child(3) {
            position: absolute;
            top: 90px;
            left: 90px;
            animation: top-section-loop-2 6s linear infinite;
        }

        img:nth-child(4) {
            width: 449px;
            height: 449px;
            position: absolute;
            top: 190px;
            left: 160px;
            animation: top-section-loop-3 12s linear infinite;
        }
    }
}

@keyframes top-section-loop-1 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes top-section-loop-2 {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes top-section-loop-3 {
    100% {
        transform: rotate(360deg);
    }
}

header {
    display: flex;
    column-gap: 92px;
    align-items: center;
    width: 700px;
    height: 100px;
    padding: 31px 0 24px 100px;
    background: url(../backgrounds/header-bg.svg);
}

.site__menu {
    display: flex;
    column-gap: 35px;
    height: fit-content;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;

    a {
        background: $main-gradient;
        text-decoration: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.webinar-info {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;

    .webinar-sign-up {
        margin-top: 70px;
    }
}

.webinar-info__venue-and-date {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;

    span {
        font-weight: 300;
        color: rgba(0, 40, 136, 0.8);
    }

    p {
        margin-top: 10px;
        color: $dark-blue;
    }
}

.webinar-info__slogan {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    width: 555px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: $dark-blue;
    text-transform: uppercase;

    p:nth-child(2) {
        margin-top: -5px;
        align-self: flex-end;
        padding: 11px 21px 12px 15px;
        transform: matrix(1, -0.06, 0.06, 1, 0, 0);
        background: url(../backgrounds/v2xrazi-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;

        img {
            user-select: none;
            -webkit-user-drag: none;
        }
    }

    p:nth-child(3) {
        margin-top: -8px;
        z-index: 2;
    }

    p:nth-child(4) {
        margin-top: 16px;
        width: fit-content;
        background: url(../backgrounds/video-shopping-bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 25px 41px 20px 18px;
    }
}

// For-who section
.for-who-section {
    margin-top: 32px;
    width: 100%;
}

.for-who-section-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.for-who-section-content:before {
    content: "";
    position: absolute;
    top: -200px;
    left: -180px;
    display: block;
    width: 589px;
    height: 582px;
    background: url(../backgrounds/for-who-section-before.svg);
    background-size: cover;
    z-index: 0;
}

.for-who-section-content:after {
    content: "";
    position: absolute;
    bottom: -365px;
    right: -100px;
    display: block;
    width: 469px;
    height: 472px;
    background: url(../backgrounds/for-who-section-after.svg);
    background-size: cover;
    z-index: -1;
}

.for-who-section__top-row {
    display: flex;
    column-gap: 100px;
}

.for-who-section__top-row__screenshot {
    z-index: 1;
    margin-left: 60px;
}

.for-who-section__top-row__categories {
    display: flex;
    flex-direction: column;

    h1 {
        margin-left: 55px;
        width: fit-content;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        text-transform: uppercase;
        color: $dark-blue;
        padding: 25px 35px 24px 35px;
        background: url(../backgrounds/for-who-title-bg.svg);
        background-size: cover;
    }

    span {
        margin-top: 60px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: $text-gray;
    }
}

.for-who-section__top-row__categories__items-container {
    margin-top: 37px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: $text-gray;

    .for-who-section__top-row__categories__items-container__item {
        display: flex;
        column-gap: 10px;
    }
}

.for-who-section__bottom-row {
    margin-top: 90px;
    width: 100%;
}

.for-who-section__bottom-row__items-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.for-who-section__bottom-row__items-container__item {
    height: fit-content;
    position: relative;
    color: $text-gray;

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }

    span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    }
}

.for-who-section__bottom-row__items-container__item:nth-child(1) {
    width: 345px;
    padding: 26px 21px 29px 58px;
    background: url(../backgrounds/for-who-section-item-bg-1.svg);
    background-size: cover;
}

.for-who-section__bottom-row__items-container__item:nth-child(2) {
    width: 353px;
    padding: 13px 32px 32px 65px;
    background: url(../backgrounds/for-who-section-item-bg-2.svg);
    background-size: cover;
}

.for-who-section__bottom-row__items-container__item:nth-child(3) {
    width: 340px;
    padding: 24px 0 34px 53px;
    z-index: -2;
    background: url(../backgrounds/for-who-section-item-bg-3.svg);
    background-size: cover;
}

.for-who-section__bottom-row__items-container__item:before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    display: block;
    width: 108px;
    height: 108px;
}

.for-who-section__bottom-row__items-container__item:nth-child(1):before {
    background: url(../backgrounds/for-who-section-item-before-1.svg);
    background-size: cover;
}

.for-who-section__bottom-row__items-container__item:nth-child(2):before {
    background: url(../backgrounds/for-who-section-item-before-2.svg);
    background-size: cover;
}

.for-who-section__bottom-row__items-container__item:nth-child(3):before {
    background: url(../backgrounds/for-who-section-item-before-3.svg);
    background-size: cover;
}

// You will learn section
.you-will-learn-section {
    margin-top: 100px;
    height: 729px;
    background: url(../backgrounds/you-will-learn-bg.svg);
    background-size: cover;
    overflow: hidden;
}

.you-will-learn-section-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 74px 0 100px;

    .webinar-sign-up {
        margin-top: 72px;
        align-self: center;
    }
}

.you-will-learn-section-content:before {
    content: "";
    position: absolute;
    bottom: -180px;
    left: 0;
    display: block;
    width: 402px;
    height: 416px;
    background: url(../backgrounds/you-will-learn-before.svg);
    background-size: cover;
}

.you-will-learn-section__title {
    margin-top: 100px;
    width: fit-content;
    padding: 27px 36px 19px 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    color: $dark-blue;
    background: url(../backgrounds/you-will-learn-title-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.you-will-learn-section__items-container {
    margin-top: 60px;
    margin-left: 212px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
}

.you-will-learn-section__items-container__item {
    display: flex;
    column-gap: 24px;

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        margin-top: 12px;
        color: #000000;

        span {
            font-weight: normal;
            color: $dark-blue;
        }
    }

    img:nth-child(1) {
        user-select: none;
        -webkit-user-drag: none;
    }
}

.you-will-learn-section__items-container__item:nth-child(1) {
    width: 365px;
}

.you-will-learn-section__items-container__item:nth-child(2) {
    margin-left: 164px;
    width: 350px;
}

.you-will-learn-section__items-container__item:nth-child(3) {
    margin-left: 106px;
    width: 401px;
}

.you-will-learn-section__items-container__item:nth-child(4) {
    margin-left: 128px;
    width: 397px;
}

// Who leads section
.who-leads-section {
    margin-top: 100px;
    width: 100%;
}

.who-leads-section-content {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.who-leads-section__title {
    align-self: center;
    width: fit-content;
    padding: 25px 32px 13px 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    color: $dark-blue;
    background: url(../backgrounds/who-leads-title-bg.svg);
    background-size: cover;
}

.who-leads-section__items-container {
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
}

.who-leads-section__items-container__item {
    position: relative;

    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: $dark-blue;
    }

    .who-leads-section__items-container__item__thesis {
        display: flex;
        align-items: flex-start;
        column-gap: 15px;

        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            color: $text-gray;
        }
    }

    .who-leads-section__items-container__item__thesis:not(:first-of-type) {
        margin-top: 20px;
        ;
    }
}

.who-leads-section__items-container__item:before {
    content: "";
    position: absolute;
    top: -20px;
    left: -56px;
    width: 119px;
    height: 119px;
}

.who-leads-section__items-container__item:nth-child(1) {
    margin-left: 60px;
    width: 335px;
    padding: 44px 48px 10px 0;
    background: url(../backgrounds/who-leads-item-bg-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;

    h2 {
        margin-bottom: 32px;
        margin-left: 79px;
    }
}


.who-leads-section__items-container__item:nth-child(2) {
    margin-left: 88px;
    width: 354px;
    padding: 38px 29px 20px 0;
    background: url(../backgrounds/who-leads-item-bg-3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;

    .who-leads-section__items-container__item__thesis {
        margin-left: -10px;
    }

    h2 {
        margin-bottom: 60px;
        margin-left: 80px;
    }
}

.who-leads-section__items-container__item:nth-child(3) {
    margin-left: 70px;
    width: 333px;
    padding: 53px 32px 0px 0;
    background: url(../backgrounds/who-leads-item-bg-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;

    h2 {
        margin-bottom: 60px;
        margin-left: 79px;
    }

    .who-leads-section__items-container__item__thesis {
        margin-left: -5px;
    }
}

.who-leads-section__items-container__item:nth-child(1):before {
    background: url(../images/who-leads-1.png);
    background-size: cover;
}

.who-leads-section__items-container__item:nth-child(2):before {
    background: url(../images/who-leads-2.png);
    background-size: cover;
}

.who-leads-section__items-container__item:nth-child(3):before {
    background: url(../images/who-leads-3.png);
    background-size: cover;
}

// Opportunity for section

.opportunity-for-section {
    margin-top: 100px;
    width: 100%;
}

.opportunity-for-section-content {
    display: flex;
    flex-direction: column;

    .webinar-sign-up {
        margin-top: 70px;
        align-self: center;
    }
}

.opportunity-for-section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 374px;
    background: url(../backgrounds/opportunity-for-header-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;

    div {
        display: flex;
        flex-direction: column;
    }

    p {
        color: #F2F4FF;
    }

    span {
        margin-left: 35px;
        margin-top: 10px;
        width: fit-content;
        padding: 10px 62px 12px 52px;
        color: $dark-blue;
        transform: rotate(-5.07deg);
        background: url(../backgrounds/opportunity-for-header-title-bg.svg);
        background-size: cover;
    }
}

.opportunity-for-section-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.opportunity-for-section-items-container__column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 287px;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;

    p {
        display: block;
        width: fit-content;
        font-weight: 300;
        color: #2F2F30;
    }

    p:nth-child(1) {
        width: 170px;
        margin-right: 25px;
    }

    p:nth-child(2) {
        width: 182px;
        margin-top: 61px;
        margin-right: 48px;
    }

    p:nth-child(3) {
        width: 205px;
        margin-top: 75px;
    }

    span {
        font-weight: normal;
        color: $dark-blue;
    }
}

.opportunity-for-section-items-container__videoplayer {
    display: grid;
    place-items: center;
    width: 558px;
    height: 506px;
    background: url(../backgrounds/opportunity-for-player-bg.png);
    background-size: cover;
}

.open-player-btn {
    width: 85px;
    height: 85px;
    background: url(../backgrounds/open-player-btn-bg.svg);
    background-size: cover;
    border: 0;
    cursor: pointer;
    transition: .1s;
}

.open-player-btn:hover {
    transform: scale(1.05);
}

.opportunity-for-section-items-container__column3 {
    margin-left: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 287px;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;

    p {
        display: block;
        width: fit-content;
        font-weight: 300;
        color: #2F2F30;
    }

    p:nth-child(1) {
        width: 200px;
    }

    p:nth-child(2) {
        width: 253px;
        margin-top: 74px;
        margin-left: 34px;
    }

    p:nth-child(3) {
        width: 240px;
        margin-top: 82px;
    }

    span {
        font-weight: normal;
        color: $dark-blue;
    }
}

// News section
.news-section {
    margin-top: 100px;
    width: 100%;
}

.news-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-section__title {
    width: fit-content;
    padding: 29px 33px 22px 33px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    color: $dark-blue;
    background: url(../backgrounds/news-section-title-bg.svg);
    background-size: cover;
}

.news-section__items-container {
    margin-top: 80px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: center;
}

.news-section__items-container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-section__items-container__item__date {
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.news-section__items-container__item__text {
    margin-top: 15px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $text-gray;
    text-align: justify;
}

.news-section__items-container__item:nth-child(1) {
    width: 393px;
    padding: 40px 21px 12px 26px;
    background: url(../backgrounds/news-section-item-bg-1.svg);
    background-size: cover;
    transform: rotate(-6.02deg);
}

.news-section__items-container__item:nth-child(2) {
    width: 404px;
    padding: 23px 29px 29px 29px;
    background: url(../backgrounds/news-section-item-bg-2.svg);
    background-size: cover;
}

.news-section__items-container__item:nth-child(3) {
    width: 404px;
    padding: 44px 24px 10px 34px;
    background: url(../backgrounds/news-section-item-bg-3.svg);
    background-size: cover;
    transform: rotate(4.23deg);
}

// How works section
.how-works-section {
    margin-top: 100px;
    width: 100%;
}

.how-works-section-content {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.how-works-section-title {
    width: fit-content;
    padding: 29px 28px 22px 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    color: $dark-blue;
    background: url(../backgrounds/how-works-title-bg.svg);
    background-size: cover;
}

.how-works-section__explanation {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.how-works-section__explanation__screenshots-container {
    width: 100%;
    display: flex;
    z-index: 3;
}

.how-works-section__explanation__screenshots-container__screenshot:nth-child(1) {
    margin-left: 106px;
}

.how-works-section__explanation__screenshots-container__screenshot {
    margin-left: 56px;

    img {
        border-radius: 23px;
    }
}

.how-works-section__explanation__screenshots-container__screenshot-description {
    padding-top: 30px;
    margin-left: 49px;
    display: flex;
    flex-direction: column;

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: $text-gray;
    }

    span {
        margin-top: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: $dark-blue;
    }
}

.how-works-section__explanation__comment {
    position: relative;
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 572px;
    padding: 106px 120px 0 108px;
    background: url(../backgrounds/how-works-comment-bg.svg);
    background-size: cover;

    &:before {
        content: "";
        position: absolute;
        top: -150px;
        right: 10px;
        display: block;
        width: 274px;
        height: 253px;
        background: url(../backgrounds/how-works-before.svg);
        background-size: cover;
        z-index: -1;
    }
}

.how-works-section__explanation__comment__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.how-works-section__explanation__comment__author {
    margin-top: 18px;
    display: flex;
    align-items: center;
    column-gap: 24px;

    img {
        user-select: none;
        -webkit-user-drag: none;
    }

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
    }
}

.how-works-section_interview-btn {
    position: relative;
    margin-top: 29px;
    align-self: center;
    width: fit-content;
    padding: 27px 37px;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: $main-gradient;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: $main-gradient;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .1s;

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-gradient;
        z-index: -1;
        opacity: 0;
        transition: .1s;
    }
}

.how-works-section_interview-btn:hover {
    color: white;
    background: transparent;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;

    div {
        opacity: 1;
    }
}

// Knowledge section
.knowledge-section {
    margin-top: 100px;
    width: 100%;
}

.knowledge-section-content {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.knowledge-section__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    color: $dark-blue;
}

.knowledge-section__benefits {
    margin-top: 114px;
    display: flex;
    width: 100%;
}

.knowledge-section__benefit {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;

    span {
        font-weight: normal;
        color: $dark-blue;
    }

    p {
        font-weight: 300;
        color: $text-gray;
    }
}

.knowledge-section__benefit:before {
    content: "";
    position: absolute;
    top: -56px;
    left: -85px;
    display: block;
    width: 140px;
    height: 140px;
    z-index: -1;
}

.knowledge-section__benefit:nth-child(1) {
    margin-left: 85px;

    &:before {
        background: url(../backgrounds/knowledge-item-graph.png);
        background-size: cover;
    }

}

.knowledge-section__benefit:nth-child(2) {
    margin-left: 125px;

    &:before {
        background: url(../backgrounds/knowledge-item-smiley.png);
        background-size: cover;
    }
}

.knowledge-section__benefit:nth-child(3) {
    margin-left: 136px;

    &:before {
        background: url(../backgrounds/knowledge-item-moneybag.png);
        background-size: cover;
    }
}

// Form section
.form-section {
    margin-top: 100px;
    width: 100%;
}

.form-section-content {
    display: flex;
    flex-direction: column;
    padding: 0 206px 0 343px;
}

.form-section-content-title {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    color: $dark-blue;

    p {
        width: fit-content;
        padding: 20px 24px 16px 24px;
        background: url(../backgrounds/form-section-title-bg-1.svg);
        background-size: cover;
    }


    span {
        margin-left: 15px;
        width: fit-content;
        padding: 11px 17px 18px 16px;
        background: url(../backgrounds/form-section-title-bg-2.svg);
        background-size: cover;
        transform: rotate(-2.72deg);
    }
}

#contact-form {
    position: relative;
    margin-top: 55px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #000000;

    label:not(:last-of-type) {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

    }

    .webinar-sign-up {
        margin-top: 64px;
        border: 0;
        cursor: pointer;
    }

    &:before {
        content: "";
        position: absolute;
        top: -80px;
        left: -800px;
        display: block;
        width: 688px;
        height: 704px;
        background: url(../backgrounds/form-before.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.contact-form__input {
    margin-top: 10px;
    width: 499px;
    height: 40px;
    padding: 5px;
    border: 1px solid rgba(0, 40, 136, 0.5);
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: $dark-blue;

    &:focus {
        outline: 0;
    }
}

/* Customize the label (the container) */
.checkbox-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 37px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    margin-top: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: 1px solid rgba(0, 40, 136, 0.5);
}

/* On mouse-over, add a grey background color */
.checkbox-wrap:hover input~.checkmark {
    background-color: $background-light;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrap input:checked~.checkmark {
    background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrap .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid $dark-blue;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

// Footer section
footer {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 308px;
    padding-top: 128px;
    background: url(../backgrounds/footer-bg.svg);
    background-size: cover;

    .site__menu {
        margin-top: 26px;
        column-gap: 48px;
    }
}

// Video Player
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

// Media queries

// from 1024px to 1440px
@media screen and (max-width: 1439px) {
    .content-container {
        width: 100%;
    }

    .webinar-info__slogan {
        z-index: 1;
    }

    .top-section__image {
        transform: scale(.8);
        position: absolute;
        top: -40px;
        right: 500px;

        img:nth-child(2) {
            display: none;
        }
    }

    .for-who-section__top-row__categories__items-container {
        column-gap: 5px;
    }

    .for-who-section__bottom-row__items-container div:nth-child(3) {
        z-index: 1;
    }

    .you-will-learn-section__items-container {
        justify-content: center;
        column-gap: 24px;
        row-gap: 40px;
        margin-left: 0;
        z-index: 1;

        .you-will-learn-section__items-container__item:nth-child(2),
        .you-will-learn-section__items-container__item:nth-child(3),
        .you-will-learn-section__items-container__item:nth-child(4) {
            margin-left: 0;
        }
    }

    .who-leads-section__items-container {
        flex-wrap: wrap;

        .who-leads-section__items-container__item:nth-child(1),
        .who-leads-section__items-container__item:nth-child(2),
        .who-leads-section__items-container__item:nth-child(3) {
            width: 100%;
            background-size: cover;
            padding-bottom: 24px;

            h2 {
                margin-bottom: 32px;
            }

            .who-leads-section__items-container__item__thesis {
                margin-left: 72px;
            }
        }
    }

    .opportunity-for-section-items-container {
        flex-wrap: wrap;
    }

    .opportunity-for-section-items-container__videoplayer {
        order: -1;
    }

    .opportunity-for-section-items-container__column1 {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 24px;

        p:nth-child(2) {
            margin: 0;
        }

        p:nth-child(3) {
            margin: 0;
            margin-left: 25px;
        }
    }

    .opportunity-for-section-items-container__column3 {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 24px;

        p:nth-child(2) {
            margin: 0;
            margin-left: 25px;
        }

        p:nth-child(3) {
            margin: 0;
            margin-left: 25px;
        }
    }

    .how-works-section__explanation__screenshots-container {
        flex-wrap: wrap;
    }

    .how-works-section__explanation__screenshots-container__screenshot-description {
        width: 100%;
        padding-right: 40%;
        order: -3;
        margin-left: 106px;
        margin-bottom: 32px;

        span:not(:last-of-type) {
            display: none;
        }
    }

    .how-works-section__explanation__comment {
        padding-bottom: 50px;
        height: fit-content;
        background: $background-light;
    }

    .form-section-content {
        padding: 0;
        align-items: center;
    }

    #contact-form {
        align-self: center;

        #contact-form__submit {
            width: 100%;
        }
    }
}

// Tablet version
.for-who-section__bottom-row__items-container_mobile {
    display: none;
}

@media screen and (max-width: 1023px) {
    .content-container {
        width: 100%;
    }

    header {
        width: 100%;
        background: white;
    }

    .top-section__image {
        transform: scale(.4);
        right: 220px;
        top: 390px;

        img:nth-child(1) {
            display: none;
        }

        img:nth-child(2) {
            display: block;
        }
    }

    .webinar-info {
        margin-top: 24px;
    }

    .for-who-section-content:before {
        display: none;
    }

    .for-who-section__top-row__screenshot {
        display: none;
    }

    .for-who-section__top-row__categories {
        align-items: center;

        h1 {
            margin: 0;
        }
    }

    .for-who-section__bottom-row__items-container {
        display: none;
    }

    .for-who-section__top-row {
        justify-content: center;
    }

    .for-who-section__bottom-row {
        margin-top: 24px;
    }

    .for-who-section__bottom-row__items-container_mobile {
        display: block;

        .for-who-section__bottom-row__items-container__wrapper {
            display: grid;
            place-items: center;
            height: 180px;
        }

        .for-who-section__bottom-row__items-container__wrapper.companies {
            .for-who-section__bottom-row__items-container__item:before {
                background: url(../backgrounds/for-who-section-item-before-1.svg);
                background-size: cover;
            }
        }

        .for-who-section__bottom-row__items-container__wrapper.offline {
            .for-who-section__bottom-row__items-container__item:before {
                background: url(../backgrounds/for-who-section-item-before-2.svg);
                background-size: cover;
            }
        }

        .for-who-section__bottom-row__items-container__wrapper.online {
            .for-who-section__bottom-row__items-container__item:before {
                background: url(../backgrounds/for-who-section-item-before-3.svg);
                background-size: cover;
            }
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        column-gap: 18px;
        list-style-type: none;


        button {
            width: 12px;
            height: 12px;
            border: 0;
            background: url(../icons/slider-empty.svg);
            background-size: cover;
            color: transparent;
        }

        li.slick-active button {
            background: url(../icons/slider-filled.svg);
            background-size: cover;
        }
    }

    .you-will-learn-section {
        height: fit-content;

        .webinar-sign-up {
            align-self: flex-start;
            margin-bottom: 48px;
        }
    }

    .you-will-learn-section__title {
        background-size: cover;
    }

    .you-will-learn-section__items-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .news-section__items-container {
        flex-wrap: wrap;
    }

    .news-section__items-container__item:not(:nth-child(123)) {
        width: 100%;
        transform: unset;
    }

    .how-works-section__explanation__screenshots-container__screenshot-description {
        margin-left: 0;
        padding: 0;
    }

    .how-works-section__explanation__screenshots-container__screenshot {
        width: 30%;

        img {
            width: 70%;
            border-radius: 20px;
        }
    }

    .how-works-section__explanation__screenshots-container__screenshot:nth-child(1) {
        margin-left: 24px;
    }

    .how-works-section__explanation__screenshots-container__screenshot:nth-child(2),
    .how-works-section__explanation__screenshots-container__screenshot:nth-child(3) {
        margin-left: 0;
    }

    .how-works-section__explanation__comment {
        padding: 90px 50px 50px 50px;
    }

    .how-works-section__explanation__comment__text {
        font-size: 24px;
    }

    .knowledge-section__benefits {
        flex-wrap: wrap;
        padding: 0 32px;

        .knowledge-section__benefit {
            margin-left: 0;

            &:not(:first-of-type) {
                margin-top: 100px;
            }
        }
    }

    .form-section-content-title span {
        width: 620px;
    }
}

// Mobile version
.you-will-learn-section__items-container_mobile {
    display: none;
}

.who-leads-section__items-container_mobile {
    display: none;
}

.opportunity-for-section-items-container_mobile {
    display: none;
}

.news-section__items-container_mobile {
    display: none;
}

.span-to-hide {
    display: none;
}

.knowledge-section__benefits_mobile {
    display: none;
}

.form-section-content-title_mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    header {
        justify-content: space-between;
        height: 70px;
        padding: 25px 20px 10px 20px;

        .site__menu {
            display: none;
        }

        .mobile-hamburger {
            display: block;
        }
    }

    .how-works-section__explanation__screenshots-container__screenshot {

        img {
            border-radius: 12px;
        }
    }

    .site__menu_mobile {
        touch-action: none;

        .site__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
            font-size: 24px;
            margin-top: 155px;

            a {
                font-weight: 600;
            }
        }

        &.opened {
            top: 0;
        }
    }

    .top-section {
        height: fit-content;
    }

    .webinar-info__venue-and-date {
        display: none;
    }

    .webinar-info__slogan {
        width: fit-content;
        font-size: 20px;

        img {
            transform: scale(.8);
        }

        p:nth-child(2) {
            padding: 15px 15px 13px 18px;
            align-self: flex-start;
            margin-left: 120px;
        }


        p:nth-child(4) {
            padding: 13px 12px 11px 9px;
        }
    }

    .webinar-info {
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    .webinar-sign-up {
        width: 300px;
        padding: 27px 22px;
        font-size: 18px;
    }

    .top-section__image {
        top: 200px;
        right: 100px;
        transform: scale(.2);
    }

    .for-who-section {
        margin-top: 50px;
    }

    .for-who-section__top-row {
        width: 100%;
    }

    .for-who-section-content {
        padding: 0 10px;
    }

    .for-who-section__top-row__categories {
        align-items: center;

        h1 {
            font-size: 20px;
            padding: 24px 21px 20px 22px;
        }

        span {
            margin-top: 20px;
            text-align: center;
        }
    }

    .for-who-section__top-row__categories__items-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;

        .for-who-section__top-row__categories__items-container__item {
            column-gap: 4px;
        }

        div:nth-child(1) {
            order: -2;
        }

        div:nth-child(5) {
            order: -5;
        }

        div:nth-child(6) {
            order: -1;
        }
    }

    .for-who-section__bottom-row__items-container__wrapper {
        transform: scale(.8);
    }

    .you-will-learn-section__items-container {
        display: none;
    }

    .you-will-learn-section__items-container_mobile {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .you-will-learn-section__items-container__wrapper {
            min-height: 120px;
            display: grid;
            place-items: center;
        }
    }

    .you-will-learn-section-content {
        padding: 0 10px;

        .you-will-learn-section__title {
            font-size: 20px;
            padding: 14px 14px 10px 12px;
            align-self: center;
            text-align: center;
            margin-top: 50px;
        }

        .webinar-sign-up {
            align-self: center;
            margin-bottom: 0;
        }
    }

    .you-will-learn-section__items-container__item p {
        width: auto;
    }

    .you-will-learn-section__items-container__item:not(:nth-child(343)) {
        width: auto;
    }

    .you-will-learn-section-content:before {
        top: 220px;
        left: -180px;
        transforM: scale(.5);
    }

    .who-leads-section {
        margin-top: 50px;
    }

    .who-leads-section-content {
        padding: 0 10px;
    }

    .who-leads-section__title {
        font-size: 20px;
        padding: 22px 16px 12px 16px;
        text-align: center;
        width: 219px;
    }

    .who-leads-section__items-container__item:before {
        width: 78px;
        height: 78px;
        top: -10px;
        left: -10px;
    }

    .who-leads-section__items-container__wrapper {
        display: grid;
        place-items: center;
    }

    .who-leads-section__items-container__item:not(:nth-child(123)) {
        margin-left: 0;
        padding: 20px 5px 0 0;
        width: 100%;
        background-size: cover;
        transform: scale(.9);

        .who-leads-section__items-container__item__thesis:not(:nth-child(123)) {
            margin-left: 0;
            column-gap: 2px;
            margin-left: -15px;

            img {
                transform: scale(.5);
            }
        }
    }

    .who-leads-section__items-container {
        display: none;
    }

    .who-leads-section__items-container_mobile {
        display: flex;
        flex-direction: column;
    }

    .who-leads-section__items-container__item.kostya:before {
        background: url(../images/who-leads-1.png);
        background-size: cover;
    }

    .who-leads-section__items-container__item.dima:before {
        background: url(../images/who-leads-2.png);
        background-size: cover;
    }

    .who-leads-section__items-container__item.alice:before {
        background: url(../images/who-leads-3.png);
        background-size: cover;
    }

    .opportunity-for-section-items-container {
        display: none;
    }

    .opportunity-for-section-items-container_mobile {
        display: flex;
        flex-direction: column;
    }

    .opportunity-for-section {
        margin-top: 50px;
    }

    .opportunity-for-section-content {
        padding: 0 10px;
    }

    .opportunity-for-section__header {
        background: transparent;
        font-size: 20px;
        height: fit-content;

        p {
            color: $dark-blue;
        }

        span {
            margin: 0;
            padding: 12px 15px 15px 14px;
        }
    }

    .opportunity-for-section-items-container__mobile-thesis {
        margin-top: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 300px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        row-gap: 32px;
        padding-left: 10px;
        padding-right: 20px;

        p {
            display: block;
            width: fit-content;
            font-weight: 300;
            color: #2F2F30;
        }

        p:nth-child(2),
        p:nth-child(5) {
            margin-left: 60px;
        }

        p:nth-child(3),
        p:nth-child(4) {
            margin-left: 77px;
        }

        span {
            font-weight: normal;
            color: $dark-blue;
        }

        &:before {
            content: "";
            position: absolute;
            top: -55px;
            left: -10px;
            display: block;
            width: 187px;
            height: 506px;
            background: url(../backgrounds/opportunity-items-mobile-before.svg);
            background-size: cover;
        }
    }

    .opportunity-for-section-items-container__nike {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            text-transform: uppercase;
            color: $dark-blue;
        }

        div {
            position: relative;
            display: grid;
            place-items: center;
            width: 100%;
            height: 316px;
            background: url(../images/nike-guy-mobile.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            &:before {
                content: "";
                position: absolute;
                bottom: 20px;
                right: -10px;
                width: 89px;
                height: 164px;
                background: url(../backgrounds/nike-guy-before-mobile.svg);
                background-size: cover;
            }
        }
    }

    .news-section__title {
        padding: 22px 12px 12px 12px;
        font-size: 20px;
        text-align: center;
    }

    .news-section {
        margin-top: 50px;
    }

    .news-section-content {
        padding: 0 10px;
    }

    .news-section__items-container {
        display: none;
    }

    .news-section__items-container_mobile {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin-top: 20px;
        row-gap: 24px;
    }

    // .news-section__items-container__wrapper {
    //     width: px;
    // }

    .news-section__items-container__item:not(:nth-child(123)) {
        position: relative;
        padding-left: 10px;
        padding-right: 5px;
        width: 100%;
        height: 300px;
        overflow: hidden;
        transition: .1s;

        &.full-item {
            height: fit-content;
            padding-bottom: 48px;

            .show-more {
                box-shadow: unset;
            }
        }
    }

    .show-more {
        position: absolute;
        bottom: 0;
        left: 0;
        display: grid;
        place-items: center;
        width: 100%;
        height: 48px;
        background: $background-light;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 0px -7px 20px 20px rgba(242, 244, 255, 0.7);

        p {
            background: $main-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    // .news-section__items-container__item.retail {
    //     padding-left: 10px;
    //     padding-right: 5px;
    // }

    // .news-section__items-container__item.bloomberg {
    //     padding-left: 10px;
    //     padding-right: 5px;
    // }

    .how-works-section {
        margin-top: 50px;
    }

    .how-works-section-title {
        font-size: 20px;
        padding: 19px 10px 19px 11px;
    }

    .how-works-section-content {
        padding: 0 10px;
    }

    .span-to-hide {
        display: block;
    }

    .how-works-section__explanation {
        margin-top: 20px;
    }

    .how-works-section__explanation__comment {
        padding: 90px 10px 90px 10px;

        .how-works-section__explanation__comment__text {
            font-size: 20px;
            line-height: 27px;
        }

        &:before {
            display: none;
        }
    }

    .how-works-section_interview-btn {
        padding: 27px 22px;
        font-size: 18px;
        margin-top: -80px;
    }

    .how-works-section__explanation__comment__author p {
        font-size: 15px;
    }

    .knowledge-section {
        margin-top: 50px;
    }

    .knowledge-section-content {
        padding: 0 10px;
    }

    .knowledge-section__title {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        padding: 10px 5px;
        background: url(../backgrounds/how-works-title-bg.svg);
        background-size: cover;
    }

    .knowledge-section__benefits_mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        row-gap: 24px;
    }

    .knowledge-section__benefits {
        display: none;
    }

    .knowledge-section__benefit:before {
        transform: scale(.7);
    }

    .knowledge-section__benefits_mobile .knowledge-section__benefit:not(:first-of-type) {
        margin-top: 0;
    }

    .knowledge-section__benefits__wrapper {
        display: grid;
        place-items: center;
        padding-top: 40px;
    }

    .knowledge-section__benefits_mobile .knowledge-section__benefit {
        margin-left: 65px;
    }

    .knowledge-section__benefit.graph {

        &:before {
            background: url(../backgrounds/knowledge-item-graph.png);
            background-size: cover;
        }

    }

    .knowledge-section__benefit.smiley {

        &:before {
            background: url(../backgrounds/knowledge-item-smiley.png);
            background-size: cover;
        }
    }

    .knowledge-section__benefit.moneybag {

        &:before {
            background: url(../backgrounds/knowledge-item-moneybag.png);
            background-size: cover;
        }
    }

    .form-section {
        padding: 0 10px;
    }

    .form-section-content-title span {
        width: fit-content;
    }

    .form-section-content-title {
        display: none;
    }

    .form-section-content-title_mobile {
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: $dark-blue;

        p {
            width: fit-content;
            padding: 20px 24px 16px 24px;
            background: url(../backgrounds/form-section-title-bg-1.svg);
            background-size: cover;
        }

        p:nth-child(2) {
            background: url(../backgrounds/news-section-title-bg.svg);
            background-size: cover;
        }


        span {
            margin-left: 45px;
            width: fit-content;
            padding: 11px 17px 18px 16px;
            background: url(../backgrounds/form-section-title-bg-2.svg);
            background-size: cover;
            transform: rotate(-2.72deg);
        }
    }

    #contact-form {
        width: 100%;
    }

    .contact-form__input {
        width: 100%;
    }

    footer {

        .site__menu {
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
        }
    }
}


// Registration success

.reg-success-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 140px 24px 120px 24px;
    background: url(../backgrounds/reg-success-bg.png);
    background-size: cover;
}

.reg-success-section__title {
    width: fit-content;
    padding: 46px 60px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color: $dark-blue;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 42px;
    background: url(../backgrounds/reg-sucess__title-bg.svg);
    background-size: cover;
}

.reg-success-section__subtitle {
    margin-top: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 725px;
    color: $text-gray;
    text-align: center;
}

.reg-success-section__messengers-container {
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 61px;
}

.messenger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: 284px;
    padding: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    &.telegram {
        background: #47B1E5;
    }

    &.viber {
        background: #7F50A0;
    }
}

.back-home-section {
    margin-top: 40px;
    display: grid;
    place-items: center;
    width: 100%;
    padding: 10px 10px 32px 10px;

    a {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media screen and (max-width: 1440px) {
    .reg-success-section {
        padding: 70px 24px 120px 24px;
    }
}

@media screen and (max-width: 1440px) {

    .reg-success-section {
        padding: 65px 18px 0 18px;
    }

    .reg-success-section__title {
        padding: 23px 18px 23px 19px;
        font-size: 20px;
        line-height: 26px;
    }

    .reg-success-section__subtitle {
        margin-top: 30px;
    }

    .reg-success-section__messengers-container {
        width: 100%;
        margin-top: 20px;
        row-gap: 20px;
    }

    .messenger-btn {
        width: 100%;
        max-width: 284px;
    }
}